ul{
  list-style-type: none;
  overflow: hidden;
}
.footer {

}
.options, .options ul{
  width: 50%;
  float: left;
}
.option{
  width: 100%;
  padding-bottom: 5px;
  text-align: left!important;
  float: left;
}
.active, .w3-btn:hover{
  background-color: #ddd!important;
}
.result{
  display: none;
}
.hide{
  display: none;
}
